<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="edu.northwestern.cbits.intellicare.aspire"
    android:versionCode="10004" android:versionName="1.0.4" >
    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
   	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
   	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   		<application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:theme="@style/Theme.Intellicare" android:label="@string/app_name">

            <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
	           	<category android:name="android.intent.category.BROWSABLE" />
   				<data android:scheme="intellicare" android:host="aspire" android:pathPrefix="/main" />
            </intent-filter>
        </activity>
        <activity android:name=".GraphActivity" android:theme="@style/Theme.Intellicare" android:label="@string/app_name">
            <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
	           	<category android:name="android.intent.category.BROWSABLE" />
   				<data android:scheme="intellicare" android:host="aspire" android:pathPrefix="/graph" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" android:theme="@style/Theme.Intellicare" android:label="@string/app_name" />

        <activity android:name=".StartupActivity" android:theme="@style/Theme.Intellicare" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CardActivity" android:theme="@style/Theme.Intellicare" android:label="@string/app_name" />
        <activity android:name=".IntroActivity" android:theme="@style/Theme.Intellicare" android:label="@string/app_name" />
        <activity android:name=".EditActivity" android:theme="@style/Theme.Intellicare" android:label="@string/app_name" />
        <activity android:theme="@style/Theme.Intellicare" android:name="edu.northwestern.cbits.intellicare.ConsentActivity" android:label="@string/app_name" />
        <activity android:theme="@style/Theme.Intellicare" android:name="edu.northwestern.cbits.intellicare.MotivationActivity" android:label="@string/app_name" />
        <activity android:theme="@style/Theme.Intellicare" android:name="edu.northwestern.cbits.intellicare.DemographicActivity" android:label="@string/app_name" />
        <activity android:theme="@style/Theme.Intellicare" android:name="edu.northwestern.cbits.intellicare.RecruitmentActivity" android:label="@string/app_name" />
        <activity android:theme="@style/Theme.Intellicare" android:name="edu.northwestern.cbits.intellicare.FaqActivity" android:label="@string/app_name" />
        <provider android:name=".AspireContentProvider" android:authorities="edu.northwestern.cbits.intellicare.aspire" android:exported="false" />
        <receiver android:name=".ScheduleHelper">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED"/>
		    </intent-filter>
		</receiver>
        <provider android:name="edu.northwestern.cbits.anthracite.LogContentProvider" android:authorities="edu.northwestern.cbits.intellicare.aspire.logging" android:exported="false" />
  		<service android:enabled="true" android:name="edu.northwestern.cbits.anthracite.LogService" android:exported="false">
			<intent-filter>
				<action android:name="edu.northwestern.cbits.intellicare.aspire.UPLOAD_LOGS_INTENT" />
			</intent-filter>
	    </service>
   	</application>
</manifest>
