/* For 320dp / mdpi phones */

h1 { text-align: center;
	font-size: 24px;
	text-transform: lowercase;
	}
		
h2 {text-align: center;
	font-family: Roboto Light, sans-serif;
	}
	
#container {position: absolute;
            top: 0px;
            left: 0px;
            padding: 0px;
			margin: 0px;
			background-image: url("sun.svg");
			background-repeat: no-repeat;
			background-position:right top;
            width: 320px;
            height: 100%;
			}
	
#bessie {
		margin-left: 80px;
		position: absolute;
        bottom: 0px;
		width: 160px;
		height: 160px;
		}

#content {position: relative;
		height: 256px;
		}
		
#content p { display: block;
		margin-left: auto;
		margin-right: auto;
		width: 256px;
		font-family: Roboto Light, sans-serif;
		}
		
#field { height: 256px;
		background-color: #669900;
    }
		
.pun { font-weight: bold;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 192px;
    margin-top: 5px;
	background-color: #fff;
	}
