<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.northwestern.cbits.intellicare.mantra"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <service
            android:name="edu.northwestern.cbits.intellicare.mantra.MediaScannerService"
            android:exported="false" />

        <receiver
            android:name="edu.northwestern.cbits.intellicare.mantra.NotificationHelper"
            android:process=":remote" />
        <receiver android:name="edu.northwestern.cbits.intellicare.mantra.AutoStart" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name="edu.northwestern.cbits.intellicare.mantra.NotificationAlarm" >
        </receiver>

        <activity
            android:name="edu.northwestern.cbits.intellicare.mantra.activities.NoFragmentsHomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.northwestern.cbits.intellicare.mantra.activities.CollectCameraActivity"
            android:label="@string/collect_camera_label" >
        </activity>
        <activity
            android:name="edu.northwestern.cbits.intellicare.mantra.activities.NewMantraActivity"
            android:label="@string/new_mantra_label" >
        </activity>
        <activity
            android:name="edu.northwestern.cbits.intellicare.mantra.activities.BrowsePhotosActivity"
            android:label="@string/browse_photos_label" >
        </activity>
        <activity
            android:name="edu.northwestern.cbits.intellicare.mantra.activities.NewFocusBoardActivity"
            android:label="@string/new_focus_board_label" >
        </activity>
        <activity
            android:name="edu.northwestern.cbits.intellicare.mantra.activities.SharedUrlActivity"
            android:label="@string/title_activity_shared_url" >
        </activity>
 
        <activity
            android:name="edu.northwestern.cbits.intellicare.mantra.activities.SoloFocusBoardActivity"
            android:label="@string/focus_board_label"
            android:parentActivityName=".activities.NoFragmentsHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.NoFragmentsHomeActivity" />

        </activity>
        <activity
            android:name="edu.northwestern.cbits.intellicare.mantra.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="android.preference.PreferenceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.preference.PreferenceActivity" />
        </activity>
        <activity
            android:name="edu.northwestern.cbits.intellicare.mantra.activities.ReviewActivity"
            android:label="@string/title_activity_review" >
        </activity>
        <activity
            android:name="edu.northwestern.cbits.intellicare.mantra.activities.TransparentActivity"
            android:label="@string/title_activity_transparent" >
        </activity>
        <activity
            android:name="edu.northwestern.cbits.intellicare.mantra.activities.ProgressActivity"
            android:label="@string/title_activity_progress" >
            
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            
        </activity>
    </application>

</manifest>