<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.northwestern.cbits.intellicare.ruminants"
    android:versionCode="10000"
    android:versionName="1.0.0">
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:theme="@android:style/Theme.Holo.Light" android:name=".IntroActivity" android:label="@string/app_name"
            android:screenOrientation="portrait">
 <!--           <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="intellicare" android:host="ruminants" android:pathPrefix="/intro" />
            </intent-filter> -->
        </activity>

        <activity android:theme="@android:style/Theme.Holo.Light" android:name=".DidacticActivity" android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>

        <activity android:theme="@android:style/Theme.Holo.Light"
            android:name=".WorryPracticeActivity"
            android:label="@string/tool_worry_practice"
            android:screenOrientation="portrait">
        </activity>

        <activity android:theme="@android:style/Theme.Holo.Light"
            android:name=".ProfileActivity"
            android:label="@string/profile_wizard" >
        </activity>

        <activity android:theme="@android:style/Theme.Holo.Light"
            android:name=".ToolTrackerActivity"
            android:label="@string/tool_log_title"
            android:screenOrientation="portrait">
        </activity>

        <activity android:theme="@android:style/Theme.Holo.Light"
            android:name=".WizardOneActivity"
            android:label="@string/survey_wizard_title" >
        </activity>

        <activity android:theme="@android:style/Theme.Holo.Light"
            android:name=".ToolChooserActivity"
            android:label="@string/tool_chooser_name"
            android:screenOrientation="portrait">
        </activity>

        <activity android:theme="@android:style/Theme.Holo.Light"
            android:name=".MainActivity"
            android:label="@string/main_activity_title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <provider android:name=".RuminantsContentProvider" android:authorities="edu.northwestern.cbits.intellicare.ruminants" android:exported="false" />

        <receiver android:name=".ScheduleHelper">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!--
        <activity android:theme="@style/Theme.AppCompat.Light" android:name=".WizardOneActivity" android:label="@string/app_name">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="intellicare" android:host="ruminants" android:pathPrefix="/survey_wizard" />
                </intent-filter>
            </activity>

            <activity android:theme="@style/Theme.AppCompat.Light" android:name=".SettingsActivity" android:label="@string/app_name" />
            <activity android:theme="@style/Theme.AppCompat.Light" android:name=".TipsActivity" android:label="@string/app_name" />



            <activity android:theme="@style/Theme.AppCompat.Light" android:name="edu.northwestern.cbits.intellicare.ConsentActivity" android:label="@string/app_name" />
            <activity android:theme="@style/Theme.AppCompat.Light" android:name="edu.northwestern.cbits.intellicare.RecruitmentActivity" android:label="@string/app_name" />
            <activity android:theme="@style/Theme.AppCompat.Light" android:name="edu.northwestern.cbits.intellicare.MotivationActivity" android:label="@string/app_name" />
            <activity android:theme="@style/Theme.AppCompat.Light" android:name="edu.northwestern.cbits.intellicare.DemographicActivity" android:label="@string/app_name" />
        -->
    </application>

</manifest>
