<div id="content">

  <h2>Cows Are Ruminants</h2>
  
    <a class="btn btn-primary btn-xlarge" href="{{ main.nav.ruminating.url }}">{{ main.nav.ruminating.title }}</a><br /><br />
    <a class="btn btn-primary" href="{{ main.nav.lessons.url }}">{{ main.nav.lessons.title }}</a><br /><br />
    <a class="btn btn-primary" href="{{ main.nav.define.url }}">{{ main.nav.define.title }}</a><br /><br />
    <a class="btn btn-primary" href="{{ main.nav.strategies.url }}">{{ main.nav.strategies.title }}</a><br /><br />
    <a class="btn btn-primary" href="{{ main.nav.intro.url }}">{{ main.nav.intro.title }}</a><br />


  <!-- Nav bar footer. Copy-paste for now, but at some point, consider using nested partials: http://stackoverflow.com/questions/12863663/angularjs-complex-nesting-of-partials-and-templates -->
  <div id="pageNav">
    <!-- <a class="btn btn-primary" href="{{ splash.nav.back.url }}">{{ splash.nav.back.title }}</a>
    <a class="btn btn-primary" href="{{ splash.nav.next.url }}">{{ splash.nav.next.title }}</a> -->
  </div>

</div>